{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block body %}
    <h1>Ajouter un commentaire</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('episode_index') }}" class="btn btn-info my-2 mx-4">Retour</a>
{% endblock %}