{% extends 'base.html.twig' %}

{% block title %}Nouvelle serie{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary my-2 mx-4">Ajoute une série</button>
    {{ form_end(form) }}

    <a href="{{ path('app_index') }}" class="btn btn-info my-2 mx-4">
        Retour à l'accueil
    </a>
{% endblock %}